<%= form_for( @organization,
      url: business_contacts_path(@organization),
      method: (@organization.new_record? ? :post : :patch ) ) do |f| %>
  <% if @organization.errors.any? %>
    <div id="errorExplanation">
      <h3 class="text-danger"><%= pluralize(@organization.errors.count, "error") %></h2>

      <ul>
      <% @organization.errors.full_messages.each do |message| %>
        <li>
          <div class="alert alert-danger" role="alert">
            <%= message %>
          </div>
        </li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group form-group-lg">
    <%= f.label :short_name %><br>
    <%= f.text_field :short_name, class: 'form-control' %>
  </div>
  <br>
  <div class="form-group form-group-lg">
    <%= f.label :full_name %><br>
    <%= f.text_field :full_name, class: 'form-control' %>
  </div>
  <br>
  <div class="form-group form-group-lg">
    <%= f.label :inn %><br>
    <%= f.text_field :inn, class: 'form-control' %>
  </div>
  <br>
  <div class="form-group form-group-lg">
    <%= f.label :kpp %><br>
    <%= f.text_field :kpp, class: 'form-control' %>
  </div>
  <br>
  <div class="form-group form-group-lg">
    <%= f.label :ogrn %><br>
    <%= f.text_field :ogrn, class: 'form-control' %>
  </div>
  <br>
  <div class="form-group form-group-lg">
    <%= f.label :bik %><br>
    <%= f.text_field :bik, class: 'form-control' %>
  </div>
  <br>
  <div class="form-group form-group-lg">
    <%= f.label :bank_name %><br>
    <%= f.text_field :bank_name, class: 'form-control' %>
  </div>
  <br>
  <div class="form-group form-group-lg">
    <%= f.label :payment_account %><br>
    <%= f.text_field :payment_account, class: 'form-control' %>
  </div>
  <br>
  <div class="form-group form-group-lg">
    <%= f.label :correspondent_account %><br>
    <%= f.text_field :correspondent_account, class: 'form-control' %>
  </div>
  <br>
  <div class="form-group form-group-lg">
    <%= f.label :ceo_name %><br>
    <%= f.text_field :ceo_name, class: 'form-control' %>
  </div>
  <br>
  <div class="form-group form-group-lg">
    <%= f.label :adress %><br>
    <%= f.text_field :adress, class: 'form-control' %>
  </div>
  <br>
  <div class="form-group form-group-lg">
    <%= f.label :phones %><br>
    <%= f.text_field :phones, class: 'form-control' %>
  </div>
  <br>
  <div class="form-group form-group-lg">
    <%= f.label :website %><br>
    <%= f.text_field :website, class: 'form-control' %>
  </div>
  <br>
  <div class="form-group form-group-lg">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <br>
  <div class="form-group">
    <%= f.submit 'Save', class: 'btn btn-lg btn-success' %>
  </div>
<% end %>
