<div class="box tabular">
  <%= form_for( @organization,
        url: (@organization.new_record? ? business_contacts_path : business_contact_path(@organization)),
        method: (@organization.new_record? ? :post : :patch ) ) do |f| %>
    <% if @organization.errors.any? %>
      <div id="errorExplanation">
        <h3 class="text-danger"><%= pluralize(@organization.errors.count, "error") %></h2>
  
        <ul>
        <% @organization.errors.full_messages.each do |message| %>
          <li>
            <div class="alert alert-danger" role="alert">
              <%= message %>
            </div>
          </li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <p>
      <%= f.label l('label_business_contact.organization_fields.short_name') %>
      <%= f.text_field :short_name, size: 128 %>
    </p>
    
    <p>
      <%= f.label l('label_business_contact.organization_fields.full_name') %>
      <%= f.text_field :full_name, size: 128 %>
    </p>
    
    <p>
      <%= f.label l('label_business_contact.organization_fields.inn') %>
      <%= f.text_field :inn, size: 64 %>
    </p>
    
    <p>
      <%= f.label l('label_business_contact.organization_fields.kpp') %>
      <%= f.text_field :kpp, size: 64 %>
    </p>
    
    <p>
      <%= f.label l('label_business_contact.organization_fields.ogrn') %>
      <%= f.text_field :ogrn, size: 64 %>
    </p>
    
    <p>
      <%= f.label l('label_business_contact.organization_fields.bik') %>
      <%= f.text_field :bik, size: 64 %>
    </p>
    
    <p>
      <%= f.label l('label_business_contact.organization_fields.bank_name') %>
      <%= f.text_field :bank_name, size: 64 %>
    </p>
    
    <p>
      <%= f.label l('label_business_contact.organization_fields.payment_account') %>
      <%= f.text_field :payment_account, size: 64 %>
    </p>
    
    <p>
      <%= f.label l('label_business_contact.organization_fields.correspondent_account') %>
      <%= f.text_field :correspondent_account, size: 64 %>
    </p>
    
    <p>
      <%= f.label l('label_business_contact.organization_fields.ceo_name') %>
      <%= f.text_field :ceo_name, size: 64 %>
    </p>
    
    <p>
      <%= f.label l('label_business_contact.organization_fields.adress') %>
      <%= f.text_field :adress, size: 128 %>
    </p>
    
    <p>
      <%= f.label l('label_business_contact.organization_fields.phones') %>
      <%= f.text_field :phones, size: 64 %>
    </p>
    
    <p>
      <%= f.label l('label_business_contact.organization_fields.website') %>
      <%= f.text_field :website, size: 64 %>
    </p>
    
    <p>
      <%= f.label l('label_business_contact.organization_fields.email') %>
      <%= f.text_field :email, size: 64 %>
    </p>
      
    <% if @organization.managers.any? %>  
      <p>
        <%= f.label l('label_business_contact.organization_fields.main_manager') %>
        <%= f.select :main_manager_id, @organization.managers.pluck(:first_name, :id), {} %>
      </p>
    <% end %>
    
    <% unless @organization.new_record? %>
    
      <h3><%= l(:label_business_contact_manager_plural) %></h3>
      <% @organization.managers.each do |manager| %>
        <%= render partial: 'manager_fields', locals: {organization: @organization, manager: manager} %>
      <% end %>
      <%= link_to l(:label_business_contact_manager_add), business_contact_managers_path(@organization), method: :post, class: "add-new-manager icon icon-add" %>
      
      <br><br>
      
      <h3><%= l(:label_business_contact_related_projects) %></h3>
      <% @projects.each do |project| %>
        <div>
            <%= check_box_tag "organization[project_ids][]", project.id, @organization.projects.include?(project) %>
            <%= project.name %>
        </div>
      <% end %>
      
    <% end %>
    <br>
    <div class="form-group">
      <%= f.submit l(:button_save), class: 'btn btn-lg btn-success' %>
    </div>
  <% end %>
</div>
