<%= render :partial => 'action_menu' %>

<h2><%= l(:label_business_contact_edit) %></h2>
<% html_title(l(:label_business_contact_plural)) %>

<%= render 'form' %>
<br>

<div style="clear: both;"></div>
<%= render :partial => 'action_menu' %>

<% content_for :sidebar do %>
  <%= render :partial => 'business_contacts/sidebar' %>
<% end %>