<div class="contextual">
  <%= link_to l(:label_business_contact_new), new_business_contact_path, class: "icon icon-add" %>
</div>

<h2><%= l(:label_business_contact_plural) %></h2>
<% html_title(l(:label_business_contact_plural)) %>

<table class="list business_contacts odd-even">
  <thead>
    <tr>
      <th><%= l('label_business_contact.organization_fields.short_name') %></th>
      <th><%= l('label_business_contact.organization_fields.main_manager') %></th>
      <th><%= l('label_business_contact.organization_fields.phones') %></th>
      <th><%= l('label_business_contact.organization_fields.email') %></th>
    </tr>
  </thead>
  <tbody>
  <% @organizations.each do |organization| %>
    <tr>
      <td>
        <%= link_to organization.short_name, business_contact_path(organization) %>
      </td>
      <td><%= organization.manager.try(:full_name) || organization.ceo_name %></td>
      <td><%= organization.manager.try(:phone)     || organization.phones   %></td>
      <td><%= organization.manager.try(:email)     || organization.email    %></td>
    </tr>
  <% end %>
  </tbody>
</table>
