<%= render :partial => 'action_menu' %>

<h2><%= l(:label_business_contact_organization) + ': ' + @organization.short_name %></h2>
<div class="box">
  <% @organization.attributes.select{|k, v| ! k.ends_with? "id"}.each do |k, v| %>
    
    <div class="form-group form-group-lg">
      <b><%= l("label_business_contact.organization_fields.#{k}") %></b>: <%= v %>
    </div>
    <br>
    
  <% end %>
</div>

<h3><%= l(:label_business_contact_manager_plural) %></h3>
<% @organization.managers.each do |manager| %>
  <div class="box">
    <% if @organization.main_manager_id == manager.id %>
      <span class="icon icon-ok"><%= l('label_business_contact.organization_fields.main_manager') %></span><br>
    <% end %>
    <% manager.attributes.select{|k, v| ! k.ends_with? "id"}.each do |k, v| %>
        <b><%= l("label_business_contact.manager_fields.#{k}") %></b>: <%= v %>
      <br>
    <% end %>
  </div>
<% end %>

<% if @organization.projects.any? %>
  <h3><%= l(:label_business_contact_related_projects) %></h3>
  <div class="box">
    <% @organization.projects.each do |project| %>
      <div>
        <%= link_to project.name, project, target: '_blank' %>
      </div>
    <% end %>
  </div>  
<% end %>

<br><br>

<div style="clear: both;"></div>
<%= render :partial => 'action_menu' %>

<% content_for :sidebar do %>
  <%= render :partial => 'business_contacts/sidebar' %>
<% end %>
